{# Authorization Request Acceptance Page #}
{% extends "MsOauthBundle:Authorization:base.html.twig" %}

{% block body %}
<p>Η εφαρμογή "{{ client.appTitle }}" ζητάει πρόσβαση στις παρακάτω πληροφορίες του λογαριασμού σας:</p>
<ul>
    {% for scope in scopes %}
        <li>{{ scope.description }}</li>
    {% endfor %}
</ul>
<a href="">Δέχομαι</a> 
<a href="{{ path('ms_oauth_authorization_access_denied', {'authz_rq': authz_rq}) }}">Αρνούμαι</a>
{% endblock %}
