parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    code_grant_expires_in: 600
    access_token_expires_in: 3600
    security_provider_key_client: client_provider_key
    access_token_file: "%kernel.root_dir%/cache/ms/oauth/access_token.json"
    redirection_uri: ~
    client_id: ~
    client_secret: ~
