{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block title %}Slideshow για: {{ group_title }} | Πελάτης{% endblock %}
{% block stylesheets %}
<link href="/bundles/msdemo/jsImgSlider/1/js-image-slider.css" rel="stylesheet" type="text/css" />
{#<link href="/bundles/msdemo/css/slidejs-example.css" rel="stylesheet" type="text/css" />
<link href="/bundles/msdemo/css/slidejs-font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/bundles/msdemo/css/main.css" rel="stylesheet" type="text/css" />#}
{% endblock %}

{% block body %}
<div id="sliderFrame">
    <div id="slider">
        {% for title in image_titles %}
        <img src="{{ path('ms_demo_resource_image', { 'name': title }) }}" />
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="/bundles/msdemo/jsImgSlider/1/js-image-slider.js"></script>
{#<script src="/bundles/msdemo/js/jquery.min.js"></script>
<script src="/bundles/msdemo/js/jquery.slides.min.js"></script>
<script src="/bundles/msdemo/js/main.js"></script>#}
{% endblock %}