{# Contains the Client Registration Form #}
{% extends "::base.html.twig" %}

{% block title %}Εγγραφή | MsOAuth{% endblock %}

{% block body %}
    <h2>Φόρμα Εγγραφής</h2>
    <p>Παρακαλούμε, συμπληρώστε τα παρακάτω στοιχεία για να εγγραφείτε στο σύστημα.</p>
    
    {% block form %}{% endblock %}
{% endblock %}
