{# Contains the Client Registration Form #}
{% extends "::base.html.twig" %}

{% block title %}
    Registration | MsOAuth 2.0
{% endblock %}

{% block body %}
    <h1>MsOAuth 2.0</h1>
    <p>Complete the following form in order to register with our server.</p>
    
    {% block form %}{% endblock %}
{% endblock %}
