{# Σελίδα Στοιχείων Πελάτη #}
{% extends "::base.html.twig" %}

{% block title %}Στοιχεία Πελάτη{% endblock %}

{% block body %} 
<ul>
    <li>Αναγνωριστικό Πελάτη: {{ client.id }}</li>
    <li>e-mail: {{ client.email }}</li>
    <li>Τίτλος: {{ client.appTitle }}</li>
    <li>URI ανακατεύθυνσης: {{ client.redirectionUri }}</li>
</ul>
        
{% endblock %}